---
- hosts: localhost
  collections:
  - kubernetes.core

  tasks:
  - name: create k8s pipeline task
    kubernetes.core.k8s:
      src: ../openshift-resources/openshift-pipeline-tasks.yml
      state: present

  - name: create k8s pipeline
    kubernetes.core.k8s:
      definition: "{{ lookup('template', '../openshift-resources/bonjour-tar-to-pvc.yml') | from_yaml }}"
      state: present    

  - name: create artifact repo pvc
    kubernetes.core.k8s:
      src: ../openshift-resources/bonjour-artifacts-pvc.yml
      state: present
  
  - name: create artifact repo svc
    kubernetes.core.k8s:
      src: ../openshift-resources/artifact-repo-service.yml
      state: present

  - name: create artifact repo route
    kubernetes.core.k8s:
      src: ../openshift-resources/artifact-repo-route.yml
      state: present

  - name: create k8s pipeline aap secret
    kubernetes.core.k8s:
      definition: "{{ lookup('template', '../openshift-resources/openshift-secret-aap-creds.yml') | from_yaml }}"
      state: present