---
- name: Create a VM on OpenShift Virtualization
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    # VM details
    vm_name: test-vm
    vm_project: default
    storage_size: 30Gi
    memory_size: 2Gi
    cpu_cores: 2
    cpu_sockets: 1
    cpu_threads: 1

    # Templates and images
    os_images_template: fedora
    os_images_project: openshift-virtualization-os-images
    os_images_flavor: small
    os_images_workload: server
    os_images_template_namespace: openshift
    os_images_template_revision: "1"
    os_images_template_version: v1

    # Network
    network_interface1_name: eth0

    # Cloud-init / Access
    cloud_init_password: redhat

    # API access
    validate_certs: false

    #application specifics
    deployment_name: my-application
    deployment_version: "1_0_0"

    #application specifics
    artifact_base_url: http://artifact-repo-demo-test.apps.cluster-46f6g.dynamic.redhatworkshops.io
    app_base_url: apps.cluster-46f6g.dynamic.redhatworkshops.io

  tasks:
    - name: get vm
      kubernetes.core.k8s_info:
        api_version: kubevirt.io/v1
        kind: VirtualMachine
        label_selectors:
          - "vm = {{ vm_name }}"
        namespace: "{{ vm_project }}"
      register: vm

    - name: debug vm
      debug: 
        var: vm

    - name: Set a variable
      when: vm.resources | length == 0
      ansible.builtin.set_fact:
        vm_name_set: "{{vm_name}}"
        service_name: "{{ vm_name }}-service"
        route_name: "{{ vm_name }}-route"
        is_new: true
        existing_vm: null
    
    - name: Set a variable
      when: vm.resources | length > 0
      ansible.builtin.set_fact:
        vm_name_set: "{{vm_name}}-{{ deployment_version }}"
        service_name: "{{ vm_name }}-{{ deployment_version }}-service"
        route_name: "{{ vm_name }}-{{ deployment_version }}-route"
        existing_vm: "{{ vm.resources[0].metadata.name }}"
        is_new: false

    - name: set workflow data
      ansible.builtin.set_stats:
        data:
          is_new: "{{ is_new }}"
          deployment_version: "{{ deployment_version }}"
          vm_name: "{{ vm_name }}"
          vm_name_temporary: "{{ vm_name_set }}"
          route_name: "{{ route_name }}"
          vm_project: "{{ vm_project }}"
          existing_vm: "{{ existing_vm }}"
          base_url: "{{ app_base_url }}"

    - name: Create virtual machine
      redhat.openshift_virtualization.kubevirt_vm:
        name: "{{ vm_name_set }}"
        namespace: "{{ vm_project }}"
        running: true
        validate_certs: "{{ validate_certs }}"
        state: present

        annotations:
          vm.kubevirt.io/flavor: "{{ os_images_flavor }}"
          vm.kubevirt.io/os: "{{ os_images_template }}"
          vm.kubevirt.io/workload: "{{ os_images_workload }}"

        labels:
          app: "{{ vm_name_set }}"
          vm: "{{ vm_name }}"
          kubevirt.io/dynamic-credentials-support: 'true'
          vm.kubevirt.io/template: "{{ os_images_template }}-{{ os_images_workload }}-{{ os_images_flavor }}"
          vm.kubevirt.io/template.namespace: "{{ os_images_template_namespace }}"
          vm.kubevirt.io/template.revision: "{{ os_images_template_revision }}"
          vm.kubevirt.io/template.version: "{{ os_images_template_version }}"
          deployment: "{{ deployment_name }}"
          deployment_version: "{{ deployment_version }}"

        data_volume_templates:
          - kind: 'DataVolume'
            metadata:
              name: "{{ vm_name_set }}"
            spec:
              sourceRef:
                kind: 'DataSource'
                name: "{{ os_images_template }}"
                namespace: "{{ os_images_project }}"
              storage:
                resources:
                  requests:
                    storage: "{{ storage_size }}"

        spec:
          domain:
            cpu:
              cores: "{{ cpu_cores }}"
              sockets: "{{ cpu_sockets }}"
              threads: "{{ cpu_threads }}"
            devices:
              disks:
                - disk:
                    bus: 'virtio'
                  name: 'rootdisk'
                - disk:
                    bus: 'virtio'
                  name: 'cloudinitdisk'
              interfaces:
                - masquerade: {}
                  model: 'virtio'
                  name: "{{ network_interface1_name }}"
            memory:
              guest: "{{ memory_size }}"
          networks:
            - name: "{{ network_interface1_name }}"
              pod: {}
          terminationGracePeriodSeconds: 180
          volumes:
            - dataVolume:
                name: "{{ vm_name_set }}"
              name: 'rootdisk'
            - cloudInitNoCloud:
                userData: |-
                  #cloud-config
                  user: redhat
                  password: {{ cloud_init_password }}
                  chpasswd: { expire: False }
                  ssh_pwauth: true
                  ssh_authorized_keys: {{ ssh_public_key }}
                  packages: 
                    - nodejs
                  write_files:
                    - path: /etc/systemd/system/{{ deployment_name }}.service
                      permissions: 0644
                      content: |
                        [Unit]
                        Description=Node.js {{ deployment_name }} Application
                        After=network.target
                        [Service]
                        ExecStart=/usr/bin/node /opt/{{ deployment_name }}/{{ deployment_name }}.js
                        WorkingDirectory=/opt/{{ deployment_name }}
                        Restart=always
                        User=redhat
                        Environment=NODE_ENV=production
                        [Install]
                        WantedBy=multi-user.target
                  runcmd:
                    - mkdir /opt/{{ deployment_name }}
                    - cd /opt/{{ deployment_name }}
                    - curl {{ artifact_base_url }}/artifacts/{{ deployment_name }}-{{ deployment_version }}.tar.gz > {{ deployment_name }}-{{ deployment_version }}.tar.gz
                    - tar -xzf {{ deployment_name }}-{{ deployment_version }}.tar.gz -C /opt/{{ deployment_name }}
                    - npm install express
                    - systemctl daemon-reload
                    - systemctl enable {{ deployment_name }}.service --now
              name: 'cloudinitdisk'
    - name: create service
      kubernetes.core.k8s:
        definition: "{{ lookup('template', '../openshift-resources/create-service.yml') | from_yaml }}"
        state: present      
    - name: create route
      kubernetes.core.k8s:
        definition: "{{ lookup('template', '../openshift-resources/create-route.yml') | from_yaml }}"
        state: present  