---
- name: Update the VM
  hosts: localhost
  gather_facts: false

  tasks:
 
    - name: update service for new pod label
      when: is_new == false
      kubernetes.core.k8s:
        state: patched
        kind: Service
        namespace: "{{ vm_project }}"
        name: "{{ vm_name }}-service"
        definition:
          spec:
            selector:
              app: "{{ vm_name_temporary }}"

    - name: remove the old VM
      when: is_new == false
      redhat.openshift_virtualization.kubevirt_vm:
        state: absent
        name: "{{ existing_vm }}"
        namespace: "{{ vm_project }}"
    
    - name: remove the temporay service
      when: is_new == false
      kubernetes.core.k8s:
        state: absent
        kind: Service
        api_version: v1
        name: "{{ vm_name_temporary }}-service"
        namespace: "{{ vm_project }}"

    - name: remove the temporay route
      when: is_new == false
      kubernetes.core.k8s:
        state: absent
        kind: Route
        api_version: route.openshift.io/v1
        name: "{{ vm_name_temporary }}-route"
        namespace: "{{ vm_project }}"

    - name: set workflow data
      ansible.builtin.set_stats:
        data:
          route_name: "{{ vm_name }}-route"