---
- name: Update the VM
  hosts: localhost
  connection: local
  gather_facts: false

  vars:
    # VM details
    vm_name: "{{ workflow_job_template_data.vm_name | default('vmtest') }}" 
    vm_project: "{{ workflow_job_template_data.vm_project | default('demo_test') }}" 
    is_new: "{{ workflow_job_template_data.is_new | default('true') }}" 

  tasks:
    - name: stop the temporary VM
      when: is_new == false
      kubevirt_vm:
        state: stopped
        name: "{{ vm_name }}-{{ deployment_version }}"
        namespace: "{{ vm_project }}"
    - name: Apply multiple patch operations to an existing VM
      when: is_new == false
      kubernetes.core.k8s_json_patch:
        api_version: kubevirt.io/v1
        kind: VirtualMachine
        namespace: "{{ vm_project }}"
        name: "{{ vm_name }}"
        patch:
        - op: replace
          path: /spec/dataVolumeTemplates/0/metadata/name
          value: "{{ vm_name }}-{{ deployment_version }}"
        - op: replace
          path: /spec/template/spec/volumes/0/dataVolume/name
          value: "{{ vm_name }}-{{ deployment_version }}"