---
- name: Update the VM
  hosts: localhost
  connection: local
  gather_facts: false

  tasks:
 
    - name: set label on new vm launcher pod
      when: is_new == false
      kubernetes.core.k8s:
        state: patched
        kind: Pod
        namespace: "{{ vm_project }}"
        label_selectors:
          - "vm = {{ vm_base_name }}"
        definition:
          metadata:
            lables:
              app: "{{ vm_base_name }}"
              debuglabel: "true"

    - name: remove the old VM
      when: is_new == false
      redhat.openshift_virtualization.kubevirt_vm:
        state: absent
        name: "{{ existing_vm }}"
        namespace: "{{ vm_project }}"

    - name: set workflow data
      ansible.builtin.set_stats:
        data:
          route_name: "{{ vm_name }}-route"